/* Zero-styles */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: geometricPrecision;
}

/* Fonts */

@font-face {
    font-family: 'Golos Text VF';
    src: url("fonts/golos-text_regular.woff2"),
    url("fonts/golos-text_regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text VF';
    src: url("fonts/golos-text_medium.woff2"),
    url("fonts/golos-text_medium.woff");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text VF';
    src: url("fonts/golos-text_demibold.woff2"),
    url("fonts/golos-text_demibold.woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text VF';
    src: url("fonts/golos-text_bold.woff2"),
    url("fonts/golos-text_bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

/* Variables */
:root {
    /* label */
    --label-white: #FFFFFF;
    --label-black: #212328;
    --label-grey: #8285A5;

    /* accent */
    --accent-light-blue: #E5F1FF;
    --accent-blue-1: #0064D8;
    --accent-blue-2: #0056D8;

    /* background */
    --bg-light-blue: #F2F7FD;
    --bg-white: #FFFFFF;

    /* overlay */
    --overlay-black65: #1B225C;
    --overlay-white20: #FFFFFF;

    /* separator */
    --separator-grey: #E7E7E7;

    /* system */
    --system-red: #E44646;
    --system-grey: #F8F8F8;
}

.main-hidden {
    display: none;
}

body {
    font-family: Golos Text VF, serif;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: var(--label-black);
    margin-bottom: 65px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

/* styles */

.container {
    width: 373px;
    padding: 0 15px;
    margin: 0 auto;

}

/* header-mobile */

.header-mobile {
    padding: 0 15px;
    border-bottom: 1px solid var(--separator-grey, #E7E7E7);
}

.header-mobile__inner {
    display: flex;
    padding: 4px 0;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.header-mobile__logo img {
    width: 112px;
    height: 56px;
}

.header-mobile__icons {
    display: flex;
    gap: 6px;
}

.header-mobile__icon {
    padding: 10px;
    border-radius: 10px;
    width: 44px;
    height: 44px;
    background: var(--bg-light-blue, #F2F7FD);
}

.header-mobile__icon svg{
    width: 24px;
    height: 24px;
}

.menu-btn {
    display: block;
}

.menu-active {
    background: var(--accent-blue-1);
}

.btn-hidden {
    display: none;
}



/* tab-bar mobile*/

.tab-bar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 4px 0 7px 0;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-top: 0.5px solid rgba(60, 60, 67, 0.36);
    background: var(--bg-white, #FFF);
}

.tab-bar__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.tab-bar__item {
    display: flex;
    width: 75px;
    padding: 7px 0 3px 0;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.tab-bar__item p {
    color: var(--label-grey);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
}

.tab-bar__item-active p{
    color: var(--accent-blue-1);
}

.tab-bar__item-active svg path{
    stroke: var(--accent-blue-1);
}


/* banners */
.banners {
    position: relative;
    margin-top: 18px;
}

.banner img {
    border-radius: 10px;
    width: 100%;
}

.banner-small {
    display: block;
}

.banner-medium {
    display: none;
}

.swiper-pagination-bullet {
    background-color: var(--label-white, #FFF);

    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* advantages */

.advantages {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
}

.advantages-swiper {
    padding: 0 calc((100vw - 343px) / 2);
}

.advantages__card {
    display: flex;
    height: 52px;
    border-radius: 12px;
    background-color:  var(--bg-light-blue);
}

.advantages__card:nth-child(1) {
    width: 206px !important;
}

.advantages__card:nth-child(2) {
    width: 165px !important;
}

.advantages__card:nth-child(3) {
    width: 173px !important;
}

.advantages__card:nth-child(4) {
    width: 203px !important;
}

.advantages__card:nth-child(5) {
    width: 215px !important;
}


.advantages__card-svg {
    padding: 10px;
}

.advantages__card p {
    padding: 6px 20px 6px 0;

}

/* our news */
.our-news {
    margin-top: 40px;
}

.our-news__list {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 16px 11px;
}

.our-news__item {
    font-weight: 600;
    text-align: center;
}

.our-news__item img{
    border-radius: 12px;
    width: 100%;
}

.our-news__item p {
    margin-top: 5px;
    line-height: 1.5;
}

.big-item {
    grid-column: 1/3;
    grid-row: 1/4;
}

.our-news__item .item2 {
    background: #7CD3FF;
}

.our-news__item .item3 {
    background: #FFE5C3;
}

.our-news__item .item4 {
    background: #FFF27A;
}

.our-news__item .item5 {
    background: #76EFC3;
}

.our-news__item .item6 {
    background: #FFBC6D;
}

.our-news__item .item7 {
    background: #5FACFF;
}

.our-news__item .item8 {
    background: #F1F1F1;
}

.our-news__item .item9 {
    background: #FFB580;
}

/* big banner */

.big-banner {
    margin-top: 40px;
}

/* shops */

.shops {
    margin-top: 40px;
}

.shops__city {
    position:  relative;
    margin-top: 20px;
}

.shops__city-select {
    width: 100%;
    padding: 28px 44px 8px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 10px;
    appearance: none;
    outline: none;
    border: 1px solid var(--separator-grey, #E7E7E7);
    background-image: url("img/icons/Icon-right.png");
    background-repeat: no-repeat;
    background-position: right 12px center;
    cursor: pointer;
}

.shops__city-select:hover {
    border: 1px solid var(--accent-blue-2);
}

.shops__city label {
    position: absolute;
    font-size: 14px;
    line-height: 1.4;
    color: var(--label-grey);
    top: 8px;
    left: 12px;
}

.shops__bottom {
    margin-top: 10px;
    display: flex;
    gap: 16px;
}

.shops__bottom-left {
    display: none;
}

.shops__map {
    width: 100%;
    height: 400px;
}

[class*="copyrights-pane"] {
    display: none !important;
}

/* menu */

.mobile-menu {
    display: none;
    width: 100%;
    padding-bottom: 65px;
    padding-top: 28px;
    background: var(--bg-light-blue);
    position: absolute;
    top: 64px;
    z-index: 10;
}

.mobile-menu-active {
    display: block;
}


.mobile-menu__inner {
    width: 100%;
}

/* menu local */

.mobile-menu__local {
    display: flex;
    justify-content: space-between;
    padding: 18px 10px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--label-white);
}

.mobile-menu__local .icon-and-label {
    display: flex;
}

.mobile-menu__local .icon-and-label p{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-left: 6px;
}

/* menu catalog */

.mobile-menu__catalog {
    position: relative;
    margin-top: 32px;
    display: flex;
    padding: 18px 10px;
    align-items: center;
    border-radius: 10px;
    background: var(--accent-blue-1);
}

.mobile-menu__catalog p {
    font-weight: 600;
    line-height: 1.5;
    color: var(--label-white);
}
.mobile-menu__catalog img {
    position: absolute;
    right: 11px;
    bottom: 0;
}

/* lists */

.list-items {
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    color: var(--label-black);
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 1px solid var(--separator-grey);
}

/* menu about-company */

.mobile-menu__about-company {
    margin-top: 16px;
    padding: 0 10px;
    border-radius: 12px;
    background: var(--label-white);
}

.mobile-menu__about-company p {
    padding-top: 16px;
    color: var(--label-grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.about-company-list__item:last-child {
    border: none;
}

/* menu for-byers */

.mobile-menu__for-byers {
    margin-top: 16px;
    padding: 0 10px;
    border-radius: 12px;
    background: var(--label-white);
}

.mobile-menu__for-byers p {
    padding-top: 16px;
    color: var(--label-grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.for-byers-list__item:last-child {
    border: none;
}

/* menu contacts */

.mobile-menu__contacts {
    margin-top: 8px;
    padding: 16px 0;
}

.contact-phones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.contact-phone {
    color: var(--label-black);
    width: 100%;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
}

.contact-place {
    margin-top: 10px;
    color: var(--label-grey);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.social-icon {
    padding: 12px;
    border-radius: 10px;
    background: var(--label-white);
}

/* catalog */

.catalog {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    padding-bottom: 65px;
}

.catalog-hidden {
    display: none;
}

.catalog__header{
    display: flex;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid var(--separator-grey);
    background: var(--label-white);
}

.catalog__header-back,
.catalog__header-close {
    height: 24px;
}

.catalog__header-back {
    margin: 10px 26px 10px 10px;
}

.catalog__header-title {
    color: var(--label-black);
    text-align: center;

    font-weight: 600;
    line-height: 1.5;
    width: 100%;
}

.catalog__header-close {
    margin: 10px 18px;
}

/* catalog list */

.catalog__item {
    align-items: center;
}
.catalog__item:last-child {
    border: none;
}


.catalog__item-left {
    display: flex;
    gap: 6px;
}

/* category */

.category {
    min-height: 100vh;
}

.category__subcategories {
    background: var(--bg-light-blue);
    min-height: 85vh;
}

.category__inner {
    padding-top: 20px;
}

.category-hidden {
    display: none;
}

.category__new {
    width: min-content;
    padding: 8px 16px;
    color: var(--accent-blue-1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    border-radius: 10px;
    background: var(--label-white);
}

.category__list-title {
    padding: 16px 0;
    align-items: center;
    color: var(--label-black);
    font-weight: 600;
    line-height: 1.5;
    border-bottom: 1px solid #E7E7E7;
}

.category__item {
    position: relative;
}

.arrow__item:after {
    content: '';
    position: absolute;
    right: 0;
    top: 18px;
    background: url("img/icons/arrow-right.svg") no-repeat;
    width: 20px;
    height: 20px;
}

/* subcategory */

.subcategory-hidden {
    display: none;
}

.subcategory__header {
    width: 100%;
}

.subcategory__header-title_top {
    color: var(--label-grey);
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.subcategories {
    background: var(--bg-light-blue);
    min-height: 85vh;
}

/* sign */

.sign__form label {
    position: absolute;
    top: 18px;
    left: 12px;
    color: var(--label-grey);
    font-weight: 400;
    line-height: 1.5;
}

.input {
    width: 100%;
    height: 60px;
    padding: 28px 12px 8px 12px;
    border-radius: 10px;
    border: 1px solid var(--separator-grey);
    background: var(--bg-white);
    outline: none;
    color: var(--label-black);
    font-weight: 400;
    line-height: 1.5;
}

.input-error {
    border: 1px solid var(--system-red);
}

.input:hover,
.input:focus {
    border: 1px solid var(--accent-blue-2);
}

.input:hover + label,
.input:focus + label,
.filled + label,
.filled + label{
    font-size: 14px;
    top: 8px;
}

input:not(:focus).filled  {
    border: 1px solid var(--separator-grey);
    background: var(--system-grey);
}

.submit-btn {
    margin-top: 32px;
    display: flex;
    width: 100%;
    color: var(--label-white);
    font-weight: 600;
    line-height: 1.5;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 10px;
    background: var(--accent-blue-1);
}

.sign {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.sign-show {
    display: block;
}

.sign__top {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign__top p {
    color: var(--label-black);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.sign__close {
    padding: 5px;
    border-radius: 99px;
    background: var(--bg-light-blue);
}

.sign__form {
    margin-top: 24px;
    padding-bottom: 32px;
    border-bottom: 2px solid var(--separator-grey);
}

.form-title {
    color: var(--label-black);
    font-weight: 400;
    line-height: 1.5;
}

.email,
.password {
    position: relative;
}

.email {
    margin-top: 24px;
}

.password {
    margin-top: 16px;
}

.password input{
    padding-right: 44px;
}

.password svg {
    position: absolute;
    top: 18px;
    right: 12px;
}

.show-password svg {
    display: none;
}

.show-password .show {
    display: block;
}

.sign__forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    color: var(--accent-blue-1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.sign__bottom {
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sign__bottom p:first-child {
    color: var(--label-grey);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.sign__bottom p:last-child {
    color: var(--accent-blue-1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.error-helper {
    margin-top: 4px;
    color: var(--system-red);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
}


/* balloon */

.balloon {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    border-radius: 16px 16px 0 0;
    background: var(--label-white);
    transform: translateY(300px);
    transition: transform 0.2s ease-in-out;
    z-index: 101;
}

.balloon-active {
    transform: translateY(0);
}

.balloon__inner {
    display: flex;
    padding: 64px 16px 32px 16px;
    flex-direction: column;
    align-items: flex-start;
}

.balloon__header {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.25;
}

.balloon__content {
    font-weight: 400;
    line-height: 1.5;
}

.balloon__navigation {
    margin-top: 24px;
    width: 100%;
}

.balloon__navigation p {
    font-weight: 600;
    line-height: 1.5;
}

.balloon__navigation-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.balloon__navigation-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px 24px;
    align-items: center;
    border-radius: 10px;
    background: var(--bg-light-blue);
}

.balloon__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 5px;
    border-radius: 99px;
    background: var(--bg-light-blue, #F2F7FD);
}

/* Table */

@media screen and (min-width: 744px) {
    .container {
        width: 680px;
    }

    /* tab-bar table */

    .tab-bar__list {
        justify-content: center;
        gap: 32px;
    }

    /* banners */

    .banners {
        margin-top: 24px;
    }

    .banner-small {
        display: none;
    }

    .banner-medium {
        display: block;
    }

    /* advantages */

    .advantages-swiper {
        padding: 0 calc((100vw - 650px) / 2);
    }

    /* our news */

    .our-news__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: min-content;
        gap: 16px 11px;
    }

    .big-item {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    /* shops, ymap */

    .shops__bottom-shop {
        padding: 20px 0;
        border-top: 1px solid var(--separator-grey);
    }

    .shops__bottom-left {
        display: block;
        width: 100%;
    }

    .shops__bottom-header {
        color: var(--label-black);
        font-weight: 600;
        line-height: 1.5;
    }

    .shops__bottom-content {
        color: var(--label-black);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
    }

}